@charset "utf-8";
/**********************************************

	mfbook_style_forPC.css

**********************************************/
body {
	padding-top: 86px !important;
	overflow-x:hidden !important;
}

.scrollcontents {
	overflow: hidden;
}
/* 次のコンテンツへリンクボタン */
.switch-nextcontents {
	display: block;
	width: 70px;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: opacity 2.5s linear;
	-moz-transition: opacity 2.5s linear;
	-o-transition: opacity 2.5s linear;
	-ms-transition: opacity 2.5s linear;
	transition: opacity 2.5s linear;
	cursor: pointer;
}
.fp-completely .switch-nextcontents {
	opacity: 1.0;
	-webkit-transition: opacity 2.5s linear;
	-moz-transition: opacity 2.5s linear;
	-o-transition: opacity 2.5s linear;
	-ms-transition: opacity 2.5s linear;
	transition: opacity 2.5s linear;
}

/*--------------------------------------------

	私たちの取り組み

---------------------------------------------*/
#mfbook_01.fp-completely .switch-nextcontents {
	opacity: 0;
}
/* 背景指定 */
#mfbook_01 {
	position: relative;
	background: url("/img/mfbook/bg_title_mfbook_01.png") no-repeat center top;
	background-size: cover;
}
/* ページタイトルロゴ＋文言配置 */
.wrapper-mfbook-pagetitle {
	position: absolute;
	top: 45%;
	left: 25%;
	transform: translate(-50%,-50%);
	text-align: center;
}
/* ロゴ配置 */
.wrapper-mfbook-pagetitle > h1 {
	font-size: 20px;
	margin-bottom: 86px;
	color: #c6000b;
}
.wrapper-mfbook-pagetitle > h1 > img {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}
.wrapper-mfbook-pagetitle > h2 {
	font-size: 30px;
	margin-bottom: 50px;
}
.wrapper-mfbook-pagetitle > p {
	font-size: 16px;
	line-height: 3.5em;
}
/* 初期状態　台形描画 */
.octagon-white-mfbook-01 {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.octagon-white-mfbook-01.active {
	left: -9999px;
}
.octagon-white-mfbook-01 > img {
	height: 100%;
}
/*--------------------------------------------

	ワンストップで課題を解決 お客様に寄り添うプロジェクトを目指しています

---------------------------------------------*/
.wrapper-mfbook-contents02 {
	position: relative;
	height: 100%;
}
/* 背景指定 */
#mfbook_02 {
	background: url("/img/mfbook/bg_mfbook_02.png") no-repeat center center;
	background-size: cover;
}
/* 擬似パズル */
ul.list-openarea-mfbook02 {
	position: relative;
	width: 100%;
	height: 100%;
}
ul.list-openarea-mfbook02 > li {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
ul.list-openarea-mfbook02 > li:first-child {
	opacity: 0;
	background: url("/img/mfbook/mfbook_02_wf.png") no-repeat center center;
	background-size: cover;
}
ul.list-openarea-mfbook02 > li:nth-child(2) {
	opacity: 0;
	background: url("/img/mfbook/mfbook_02_code.png") no-repeat center center;
	background-size: cover;
}
ul.list-openarea-mfbook02 > li:nth-child(3) {
	opacity: 0;
	background: url("/img/mfbook/mfbook_02_psd.png") no-repeat center center;
	background-size: cover;
}
ul.list-openarea-mfbook02 > li:nth-child(4) {
	opacity: 0;
	background: url("/img/mfbook/mfbook_02_wp.png") no-repeat center center;
	background-size: cover;
}
ul.list-openarea-mfbook02 > li.active {
	opacity: 1.0;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
/* リンク位置指定リスト */
ul.list-links-mfbook02 {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
ul.list-links-mfbook02 > li {
	position: absolute;
	width: 30%;
	height: 30%;
}
ul.list-links-mfbook02 > li:first-child {
	left: 25%;
	top: 13%;
}
ul.list-links-mfbook02 > li:nth-child(2) {
	right: 20%;
	top: 30%;
}
ul.list-links-mfbook02 > li:nth-child(3) {
	left: 15%;
	bottom: 40%;
}
ul.list-links-mfbook02 > li:nth-child(4) {
	right: 10%;
	bottom: 33%;
}
ul.list-links-mfbook02 > li > a {
	display: block;
	width: 100%;
	height: 100%;
}




/* 擬似パズル */
#mfbook_02 .wrapper-mfbook-contents02 > table {
	position: absolute;
	width: 200%;
	height: 200%;
	top: -71%;
	left: -50%;
	transform: skew(-30deg);
}
#mfbook_02 .wrapper-mfbook-contents02 > table th,
#mfbook_02 .wrapper-mfbook-contents02 > table td {
	width: 5%;
	height: 4.5%;
	border-right: 1px solid #990009;
	border-bottom: 1px solid #990009;
	cursor: pointer;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
#mfbook_02 .wrapper-mfbook-contents02 > table th.hidden,
#mfbook_02 .wrapper-mfbook-contents02 > table td.hidden {
	background: none !important;
	border: none !important;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
#mfbook_02 .wrapper-mfbook-contents02 > table th {
	background: #990009;
}
#mfbook_02 .wrapper-mfbook-contents02 > table td {
	background: #c6000b;
}
#mfbook_02 .wrapper-mfbook-contents02 > table td.type-layerd {
	background: #b2000a;
}
/* 光彩アニメーション */
#mfbook_02 .wrapper-mfbook-contents02 > table th.bright {
	animation: brightAnimation 0.5s  ease -2s infinite alternate;
}
#mfbook_02 .wrapper-mfbook-contents02 > table th.bright > a {
	opacity: 0;
	display: block;
	height: 100%;
	transform: skew(30deg);
	-webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
}
#mfbook_02 .wrapper-mfbook-contents02 > table th.bright#hiddenlink_01 > a {
	background: url("/img/mfbook/mfbook_hiddenlink_01.png") no-repeat center top;

}
#mfbook_02 .wrapper-mfbook-contents02 > table th.bright#hiddenlink_02 > a {
	background: url("/img/mfbook/mfbook_hiddenlink_02.png") no-repeat center 10px;
}

@keyframes brightAnimation {
	from{
		background: #c6000b;
	}
	to{
		background: #990009;
	}
}
/* 下付けコンテンツタイトル */
.wrapper-mfbook-contentstitle {
	position: absolute;
	width: 100%;
	height: 225px;
	padding-bottom: 100px;
	/*
	bottom: 30px;
	*/
	bottom: 0;
	color: #ffffff;
	text-align: center;
}
.wrapper-mfbook-contentstitle h2 {
	width: 960px;
	font-size: 30px;
	line-height: 1.5em;
	margin: 0 auto;
	margin-bottom: 30px;
}
.wrapper-mfbook-contentstitle p {
	width: 960px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.4em;
}
/*--------------------------------------------

	解決するための「何か」をお客様と一緒に考えていきます

---------------------------------------------*/
#mfbook_03 {
	background: url("/img/mfbook/bg_mfbook_03.png") no-repeat center bottom;
	background-size: cover;
}
.wrapper-mfbook-contents03 {
	position: relative;
	height: 100%;
}
/* m/fリスト包括 */
.wrapper-visualizelists {
	color: #ffffff;
	height: 100%;
}
.wrapper-visualizelists a {
	color: #ffffff;
}
.layout-mfvisual-left {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.layout-mfvisual-right {
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.layout-mfvisual-left > img {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.layout-mfvisual-right > img {
	position: absolute;
	top: 40%;
	right: 50%;
	transform: translate(50%,-50%);
}

/* m/f配置リスト */
.layout-2clm-mfvisual {
	height: 100%;
}
.layout-2clm-mfvisual > .left-clm {
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.layout-2clm-mfvisual > .right-clm {
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* リンク/ */
#mfbook_03 ul > li > a > span {
	position: relative;
	display: inline-block;
	padding-left: 10px;
}
#mfbook_03 ul > li > a > span:before {
	position: absolute;
	top: 1px;
	bottom: 0;
	left: 3px;
	margin: auto;
	content: "";
	width: 1px;
	height: 14px;
	background: #ffffff;
	transform: rotate(25deg);
}

/*--------------------------------------------
	m　を生成
---------------------------------------------*/
.layout-2clm-mfvisual > .left-clm > div {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.layout-2clm-mfvisual > .left-clm.aggregation > div {
	position: relative;
	width: 445px;
	height: 270px;
}
/* 1つ目 */
ul.list-point-visualize-m01 {
	position: relative;
	width: 100%;
	height: 100%;
}
ul.list-point-visualize-m01.aggregation {
	width: 1010px;
}
ul.list-point-visualize-m01 > li {
	position: absolute;
	line-height: 1.4em;
}
ul.list-point-visualize-m01.aggregation > li {
	letter-spacing: -2px;
}
/* メイン要素を配置（mの構成要素） */
ul.list-point-visualize-m01 > li:first-child {
	width: 250px;
	left: 70px;
	top: 80px;
	font-size: 22px;
	animation: m01AggregationRev 0.5s ease-in-out alternate;
}
ul.list-point-visualize-m01.aggregation > li:first-child {
	width: 97px;
	left: 20%;
	top: 30%;
	animation: m01Aggregation 0.5s ease-in-out;
}
@keyframes m01Aggregation {
	from {
		width: 250px;
		left: 70px;
		top: 80px;
	}
	to {
		width: 97px;
		top: 30%;
		left: 20%;
	}
}
@keyframes m01AggregationRev {
	from {
		width: 97px;
		top: 30%;
		left: 20%;
	}
	to {
		width: 250px;
		left: 70px;
		top: 80px;
	}
}
ul.list-point-visualize-m01 > li:nth-child(2) {
	left: 55%;
	top: 110px;
	width: 110px;
	font-size: 9px;
	animation: m02AggregationRev 0.5s ease-in-out alternate;
}
ul.list-point-visualize-m01.aggregation > li:nth-child(2) {
	left: 20%;
	top: 17%;
	animation: m02Aggregation 0.5s ease-in-out alternate;
}
@keyframes m02Aggregation {
	from {
		left: 55%;
		top: 110px;
	}
	to {
		left: 20%;
		top: 17%;
	}
}
@keyframes m02AggregationRev {
	from {
		left: 20%;
		top: 17%;
	}
	to {

		left: 55%;
		top: 110px;
	}
}
ul.list-point-visualize-m01 > li:nth-child(3) {
	left: 5%;
	top: 30px;
	width: 140px;
	font-size: 12px;
	animation: m03AggregationRev 0.5s ease-in-out alternate;
}
ul.list-point-visualize-m01.aggregation > li:nth-child(3) {
	left: 20%;
	top: 19%;
	animation: m03Aggregation 0.5s ease-in-out;
}
@keyframes m03Aggregation {
	from {
		left: 5%;
		top: 30px;
	}
	to {
		left: 20%;
		top: 19%;
	}
}
@keyframes m03AggregationRev {
	from {
		left: 20%;
		top: 19%;
	}
	to {
		left: 5%;
		top: 30px;
	}
}
ul.list-point-visualize-m01 > li:nth-child(4) {
	left: 80%;
	top: 30px;
	font-size: 14px;
	width: 165px;
	animation: m04AggregationRev 0.5s ease-in-out;
}
ul.list-point-visualize-m01.aggregation > li:nth-child(4) {
	left: 50%;
	top: 21%;
	width: 97px;
	animation: m04Aggregation 0.5s ease-in-out;
}
@keyframes m04Aggregation {
	from {
		width: 165px;
		left: 80%;
		top: 30px;
	}
	to {
		width: 97px;
		left: 50%;
		top: 21%;
	}
}
@keyframes m04AggregationRev {
	from {
		width: 97px;
		left: 50%;
		top: 21%;
	}
	to {
		width: 165px;
		left: 80%;
		top: 30px;
	}
}
ul.list-point-visualize-m01 > li:nth-child(5) {
	left: 90%;
	top: 21%;
	font-size: 18px;
	width: 200px;
	animation: m05AggregationRev 0.5s ease-in-out;
}
ul.list-point-visualize-m01.aggregation > li:nth-child(5) {
	font-size: 18px;
	width: 97px;
	left: 20%;
	top: 20%;
	animation: m05Aggregation 0.5s ease-in-out;
}
@keyframes m05Aggregation {
	from {
		width: 200px;
		left: 90%;
		top: 21%;
	}
	to {
		left: 20%;
		top: 20%;
		width: 97px;
	}
}
@keyframes m05AggregationRev {
	from {
		left: 20%;
		top: 20%;
		width: 97px;
	}
	to {
		width: 200px;
		left: 90%;
		top: 21%;
	}
}

ul.list-point-visualize-m01 > li:nth-child(6) {
	left: 70px;
	top: 41%;
	width: 150px;
	animation: m06AggregationRev 0.5s ease-in-out;
}
ul.list-point-visualize-m01.aggregation > li:nth-child(6) {
	top: 39%;
	width: 97px;
	left: 20%;
	animation: m06Aggregation 0.5s ease-in-out;
}
@keyframes m06Aggregation {
	from {
		left: 70px;
		top: 41%;
		width: 150px;
	}
	to {
		left: 20%;
		top: 39%;
		width: 97px;
	}
}
@keyframes m06AggregationRev {
	from {
		left: 20%;
		top: 39%;
		width: 97px;
	}
	to {
		left: 70px;
		top: 41%;
		width: 150px;
	}
}
ul.list-point-visualize-m01 > li:nth-child(7) {
	width: 200px;
	left: 63%;
	top: 26%;
	animation: m07AggregationRev 0.5s ease-in-out;
}
ul.list-point-visualize-m01.aggregation > li:nth-child(7) {
	width: 97px;
	top: 31%;
	left: 20%;
	animation: m07Aggregation 0.5s ease-in-out;
}
@keyframes m07Aggregation {
	from {
		width: 200px;
		left: 63%;
		top: 26%;
	}
	to {
		width: 97px;
		top: 31%;
		left: 20%;
	}
}
@keyframes m07AggregationRev {
	from {
		width: 97px;
		top: 31%;
		left: 20%;
	}
	to {
		width: 200px;
		left: 63%;
		top: 26%;
	}
}

ul.list-point-visualize-m01 > li:nth-child(8) {
	width: 470px;
	left: 70px;
	top: 57%;
	font-size: 41px;
	animation: m08AggregationRev 0.5s ease-in-out;
}
ul.list-point-visualize-m01.aggregation > li:nth-child(8) {
	width: 150px;
	top: 20%;
	left: 27%;
	animation: m08Aggregation 0.5s ease-in-out;
	font-size: 14px;
}
@keyframes m08Aggregation {
	from {
		width: 470px;
		left: 70px;
		top: 57%;
		font-size: 41px;
	}
	to {
		width: 150px;
		top: 20%;
		left: 27%;
		font-size: 14px;
	}
}
@keyframes m08AggregationRev {
	from {
		width: 150px;
		top: 20%;
		left: 27%;
		font-size: 14px;
	}
	to {
		width: 470px;
		left: 70px;
		top: 57%;
		font-size: 41px;
	}
}
ul.list-point-visualize-m01 > li:nth-child(9) {
	width: 565px;
	top: 50%;
	left: 5%;
	animation: m09AggregationRev 0.5s ease-in-out;
}
ul.list-point-visualize-m01.aggregation > li:nth-child(9) {
	width: 97px;
	top: 21%;
	left: 36%;
	animation: m09Aggregation 0.5s ease-in-out;
}
@keyframes m09Aggregation {
	from {
		width: 565px;
		top: 50%;
		left: 5%;
	}
	to {
		width: 97px;
		top: 21%;
		left: 36%;
	}
}
@keyframes m09AggregationRev {
	from {
		width: 97px;
		top: 21%;
		left: 36%;
	}
	to {
		width: 565px;
		top: 50%;
		left: 5%;
	}
}
ul.list-point-visualize-m01 > li:nth-child(10) {
	width: 195px;
	left: 70px;
	bottom: 60%;
	animation: m10AggregationRev 0.5s ease-in-out;
}
ul.list-point-visualize-m01.aggregation > li:nth-child(10) {
	width: 95px;
	top: 27%;
	left: 36%;
	animation: m10Aggregation 0.5s ease-in-out;
}
@keyframes m10Aggregation {
	from {
		width: 195px;
		left: 70px;
		bottom: 60%;
	}
	to {
		width: 95px;
		top: 27%;
		left: 36%;
	}
}
@keyframes m10AggregationRev {
	from {
		width: 95px;
		top: 27%;
		left: 36%;
	}
	to {
		width: 195px;
		left: 70px;
		bottom: 60%;
	}
}
ul.list-point-visualize-m01 > li:nth-child(11) {
	width: 160px;
	right: 10%;
	top: 35%;
	animation: m11AggregationRev 0.5s ease-in-out;
}
ul.list-point-visualize-m01.aggregation > li:nth-child(11) {
	width: 110px;
	left: 35%;
	top: 38%;
	animation: m11Aggregation 0.5s ease-in-out;
}
@keyframes m11Aggregation {
	from {
		width: 160px;
		right: 10%;
		top: 35%;
	}
	to {
		width: 110px;
		top: 38%;
		left: 35%;
	}
}
@keyframes m11AggregationRev {
	from {
		width: 110px;
		top: 38%;
		left: 35%;
	}
	to {
		width: 160px;
		right: 10%;
		top: 35%;
	}
}
ul.list-point-visualize-m01 > li:nth-child(12) {
	width: 160px;
	left: 40%;
	top: 30%;
	animation: m12AggregationRev 0.5s ease-in-out;
}
ul.list-point-visualize-m01.aggregation > li:nth-child(12) {
	width: 100px;
	left: 43%;
	top: 20%;
	animation: m12Aggregation 0.5s ease-in-out;
}
@keyframes m12Aggregation {
	from {
		width: 160px;
		left: 40%;
		top: 30%;
	}
	to {
		width: 100px;
		left: 43%;
		top: 20%;
	}
}
@keyframes m12AggregationRev {
	from {
		width: 100px;
		left: 43%;
		top: 20%;
	}
	to {
		width: 160px;
		left: 40%;
		top: 30%;
	}
}
ul.list-point-visualize-m01 > li:nth-child(13) {
	width: 600px;
	left: 70px;
	top: 19%;
	animation: m13AggregationRev 0.5s ease-in-out;
}
ul.list-point-visualize-m01.aggregation > li:nth-child(13) {
	width: 110px;
	left: 50%;
	top: 23%;
	animation: m13Aggregation 0.5s ease-in-out;
}
@keyframes m13Aggregation {
	from {
		width: 600px;
		left: 70px;
		top: 19%;
	}
	to {
		width: 110px;
		left: 50%;
		top: 23%;
	}
}
@keyframes m13AggregationRev {
	from {
		width: 110px;
		left: 50%;
		top: 23%;
	}
	to {
		width: 600px;
		left: 70px;
		top: 19%;
	}
}


/*--------------------------------------------
	fを生成
---------------------------------------------*/
.aggregation-f {
	/*
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease;
	*/
}

.layout-2clm-mfvisual > .right-clm > div {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.layout-2clm-mfvisual > .right-clm.aggregation-f > div {
	width: 180px;
	height: 365px;
}
.wrapper-visual-f {
	position: relative;
	height: 100%;
}
ul.list-point-visualize-f01,
ul.list-point-visualize-f02,
ul.list-point-visualize-f03 {
	position: absolute;
	width: 180px;
	left: 260px;
	top: 60px;

	transform: skew(150deg);
	-webkit-transform: skew(150deg);
	-moz-transform: skew(150deg);
}
ul.list-point-visualize-f01 > li,
ul.list-point-visualize-f02 > li,
ul.list-point-visualize-f03 > li {
	width: 180px;
	margin-right: 90px;
	font-size: 13px;
	line-height: 1.4em;

	transform: skew(30deg);
	-webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	margin-bottom: 30px;
}




/* 1 */
ul.list-point-visualize-f01 {
	width: 180px;
	left: 22%;
	animation: f1AggregationRev 0.5s ease-in-out;
}
.wrapper-visual-f.aggregation > ul.list-point-visualize-f01 {
	width: 95px;
	height: 475px;
	transform: none;
	left: 50%;
	top: 10%;
	animation: f1Aggregation 0.5s ease-in-out;
}
ul.list-point-visualize-f01 > li {
	animation: f1LiAggregationRev 0.5s ease-in-out;
}
.wrapper-visual-f.aggregation > ul.list-point-visualize-f01 > li {
	width: 95px;
	transform: none;
	margin-bottom: 0;
	letter-spacing: -4px;
	animation: f1LiAggregation 0.5s ease-in-out;
}
.wrapper-visual-f > ul.list-point-visualize-f01 > li:nth-child(7),
.wrapper-visual-f > ul.list-point-visualize-f01 > li:nth-child(8),
.wrapper-visual-f > ul.list-point-visualize-f01 > li:nth-child(9),
.wrapper-visual-f > ul.list-point-visualize-f01 > li:nth-child(10) {
	display: none;
}
.wrapper-visual-f.aggregation > ul.list-point-visualize-f01 > li:nth-child(7),
.wrapper-visual-f.aggregation > ul.list-point-visualize-f01 > li:nth-child(8),
.wrapper-visual-f.aggregation > ul.list-point-visualize-f01 > li:nth-child(9),
.wrapper-visual-f.aggregation > ul.list-point-visualize-f01 > li:nth-child(10) {
	display: block;
}
@keyframes f1Aggregation {
	from {
		width: 180px;
		left: 22%;
		top: 60px;
		transform: skew(150deg);
		-webkit-transform: skew(150deg);
		-moz-transform: skew(150deg);
	}
	to {
		width: 95px;
		left: 50%;
		top: 10%;
		transform: skew(180deg);
		-webkit-transform: skew(180deg);
		-moz-transform: skew(180deg);
	}
}
@keyframes f1AggregationRev {
	from {
		width: 95px;
		left: 50%;
		transform: skew(180deg);
		-webkit-transform: skew(180deg);
		-moz-transform: skew(180deg);
	}
	to {
		width: 180px;
		left: 22%;
		transform: skew(150deg);
		-webkit-transform: skew(150deg);
		-moz-transform: skew(150deg);
	}
}
@keyframes f1LiAggregation {
	from {
		width: 180px;
		margin-bottom: 30px;
		margin-right: 90px;
	}
	to {
		width: 95px;
		margin-bottom: 0;
		margin-right: 0;
	}
}
/* 2 */
ul.list-point-visualize-f02 {
	width: 180px;
	height: 100%;
	top: 60px;
	left: 35%;
	animation: f2AggregationRev 0.5s ease-in-out;
}
.wrapper-visual-f.aggregation {
	width: 850px;
}
.wrapper-visual-f.aggregation > ul.list-point-visualize-f02 {
	width: 190px;
	height: 60px;
	top: 20%;
	left: 46%;
	transform: none;
	overflow: hidden;
	animation: f2Aggregation 0.5s ease-in-out;
}
.wrapper-visual-f.aggregation > ul.list-point-visualize-f02 > li {
	width: 190px;
	transform: none;
	margin-right: 0;
	margin-bottom: 0;
	line-height: 1.0em;
	letter-spacing: 0.5px;
	animation: f1LiAggregation 0.5s ease-in-out;

}
@keyframes f2Aggregation {
	from {
		width: 180px;
		height: 100%;
		top: 60px;
		left: 35%;
		transform: skew(150deg);
		-webkit-transform: skew(150deg);
		-moz-transform: skew(150deg);
	}
	to {
		width: 190px;
		height: 60px;
		top: 20%;
		left: 46%;
		transform: skew(180deg);
		-webkit-transform: skew(180deg);
		-moz-transform: skew(180deg);
	}
}
@keyframes f2AggregationRev {
	from {
		width: 190px;
		height: 60px;
		top: 20%;
		left: 46%;
		transform: skew(180deg);
		-webkit-transform: skew(180deg);
		-moz-transform: skew(180deg);
	}
	to {
		width: 180px;
		height: 100%;
		top: 60px;
		left: 35%;
		transform: skew(150deg);
		-webkit-transform: skew(150deg);
		-moz-transform: skew(150deg);
	}
}


/* 3 */
ul.list-point-visualize-f03 {
	width: 180px;
	height: 100%;
	left: 62%;
	top: 60px;
	animation: f3AggregationRev 0.5s ease-in-out;
}
.wrapper-visual-f.aggregation > ul.list-point-visualize-f03 {
	width: 110px;
	height: 60px;
	top: 8%;
	left: 51%;
	overflow: hidden;
	transform: skew(150deg);
	-webkit-transform: skew(150deg);
	-moz-transform: skew(150deg);
	animation: f3Aggregation 0.5s ease-in-out;
}
.wrapper-visual-f.aggregation > ul.list-point-visualize-f03 > li {
	width: 110px;
	transform: skew(30deg);
	-webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	margin-bottom: 30px;
	animation: f3LiAggregation 0.5s ease-in-out;
}
@keyframes f3Aggregation {
	from {
		width: 180px;
		height: 100%;
		left: 62%;
		top: 60px;
		overflow: visible;
		transform: skew(150deg);
		-webkit-transform: skew(150deg);
		-moz-transform: skew(150deg);
	}
	to {
		width: 110px;
		height: 60px;
		left: 51%;
		top: 8%;
		overflow: hidden;
		transform: skew(180deg);
		-webkit-transform: skew(180deg);
		-moz-transform: skew(180deg);
	}
}
@keyframes f3AggregationRev {
	from {
		width: 110px;
		height: 60px;
		left: 51%;
		top: 8%;
		overflow: hidden;
		transform: skew(180deg);
		-webkit-transform: skew(180deg);
		-moz-transform: skew(180deg);
	}
	to {
		width: 180px;
		height: 100%;
		left: 62%;
		top: 60px;
		overflow: visible;
		transform: skew(150deg);
		-webkit-transform: skew(150deg);
		-moz-transform: skew(150deg);
	}
}
@keyframes f3LiAggregation {
	from {
		width: 180px;
		margin-bottom: 30px;
		margin-right: 90px;
	}
	to {
		width: 110px;
		margin-bottom: 0;
		margin-right: 0;
	}
}
/*--------------------------------------------

	納品して終わりじゃない 「これから」を一緒に拡大・創造していきます

---------------------------------------------*/
/* 背景指定 */
#mfbook_04 {
	position: relative;
	background: url("/img/mfbook/bg_mfbook_04.png") no-repeat center top;
	background-size: cover;
}
/* タイトル枠背景設定 */
#mfbook_04 .wrapper-mfbook-contentstitle {
	padding-top: 150px;
	background: url("/img/mfbook/bg_mfbook_04_title.png") no-repeat center top;
	background-size: cover;
	z-index: 600;
}
#mfbook_04 .fp-tableCell {
	display: block;
}
/* コンテンツ枠包括 */
.wrapper-mfbook-contents04 {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* カードリスト包括　平行四辺形 */
.layout-futurecardslist {
	position: static;
	width: 100%;
	height: 100%;
	padding-left: 25%;
	-moz-transform-origin: 0 32%;
	-webkit-transform-origin: 0 32%;
	transform-origin: 0 32%;
	-moz-transform: skewX(-30deg);
	-webkit-transform: skewX(-30deg);
	transform: skewX(-30deg);
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 500;
}
.layout-futurecardslist > table {
	table-layout: fixed;
	/* width: 100%; */
	width: 1000px;
	height: 100%;
	padding-top: 10%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.layout-futurecardslist > table tr td {
	width: 150px;
	height: 262.5px;
	/* padding-left: 30px; */
	padding-bottom: 30px;
	-moz-transform:skewX(12deg) rotate(12deg);
	-webkit-transform:skewX(12deg) rotate(12deg);
	transform:skewX(12deg) rotate(12deg);
}
.layout-futurecardslist > table tr > td:first-child {
	/* padding-left: 0; */
}
.layout-futurecardslist > table tr:first-child > td {
	height: 131px;
}
.layout-futurecardslist > table tr > td > ul > li {
	position: absolute;
	cursor: default;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.layout-futurecardslist > table tr > td > ul > li > img {
	width: 150px;
	height: 262.5px;
}
/* 飛び出すカード:default */
.layout-futurecardslist > table tr > td > ul > li:first-child {
	left: 0;
	bottom: 20px;
	z-index: 100;
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	z-index: 100;
}
.layout-futurecardslist > table tr > td > ul > li:nth-child(2) {
	left: 0;
	bottom: 20px;
	z-index: 90;
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
/*  */
.layout-futurecardslist > table tr > td > ul > li:last-child {
	z-index: 80;
	bottom: 20px;
}

/* 飛び出すカード:active時 */
.layout-futurecardslist > table tr > td:hover > ul > li:first-child,
.layout-futurecardslist > table tr td.active > ul > li:first-child {
	left: -170px;
	bottom: 150px;
	-moz-transform: rotate(-8deg);
	-webkit-transform: rotate(-8deg);
	transform: rotate(-8deg);
}
.layout-futurecardslist > table tr > td:hover > ul > li:nth-child(2),
.layout-futurecardslist > table tr td.active > ul > li:nth-child(2) {
	left: -60px;
	bottom: 80px;
	-moz-transform: rotate(16deg);
	-webkit-transform: rotate(16deg);
	transform: rotate(16deg);
}
.layout-futurecardslist > table tr > td:hover > ul > li:last-child,
.layout-futurecardslist > table tr td.active > ul > li:last-child {

}

/*--------------------------------------------

	情報技術企業として顧客満足度を実現します

---------------------------------------------*/
#mfbook_05 .wrapper-mfbook-pagetitle {
	left: 50%;
}
#mfbook_05 .wrapper-mfbook-pagetitle > p > span {
	position: relative;
	font-size: 30px;
	font-weight: bold;
	padding: 0 5px;
}
#mfbook_05 .wrapper-mfbook-pagetitle > p > span > img {
	position: absolute;
	left: 0;
	top: -20px;
}
#mfbook_05 .wrapper-mfbook-pagetitle > img {
	display: block;
	margin-top: 50px;
}
/*--------------------------------------------

	MF DATA

---------------------------------------------*/
/* 背景指定 */
#mfbook_06 {
	position: relative;
	background: url("/img/mfbook/bg_mfbook_06.png") no-repeat center center;
	background-size: cover;
	color: #ffffff;
	/*
	padding: 30px 0;
	*/
	overflow: hidden;
}
.wrapper-datatable-overflow {
	/*
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	*/
}
.wrapper-mfbook-contents06 {
	/*
	position: absolute;
	left: 50%;
	top: 50%;
	*/
	width: 960px;
	/*
	transform: translate(-50%,-50%);
	*/
	margin: 0 auto;
}
/* コンテンツタイトル */
#mfbook_06 h2 {
	font-size: 40px;
	text-align: center;
}
#mfbook_06 h2 > p {
	font-size: 16px;
	font-weight: normal;
	text-align: right;
	margin-top: 30px;
}
/* ピクトグラム配置テーブル */
#mfbook_06 table {
	width: 100%;
	margin-bottom: 20px;
}
#mfbook_06 table tr td {
	text-align: center;
	padding: 40px 0;
	border-bottom: 1px solid #ffffff;
	vertical-align: bottom;
}
/* ピクトグラム内容記載枠 */
#mfbook_06 table td > div {
	border-right: 1px solid #ffffff;
}
#mfbook_06 table td:nth-child(3) > div {
	border-right: none;
}
#mfbook_06 table td dl {
	font-size: 20px;
	margin-top: 20px;
}
#mfbook_06 table td dl > dt {
	display: inline-block;
	text-align: center;
}
#mfbook_06 table td dl > dd {
	display: inline-block;
	text-align: left;
}
#mfbook_06 table td dl > dd > span {
	margin: 0 5px 0 -5px;
	font-size: 60px;
}
.mark-attention:after {
	content: "※";
	font-size: 16px;
	padding-left: 10px;
}
/* テーブル2段目 */
/* 項目タイトル */
#mfbook_06 table td h3 {
	font-size: 20px;
	margin-bottom: 30px;
}
/* パーセンテージ表記リスト */
ul.list-inline-percentage {
	margin-bottom: 20px;
}
ul.list-inline-percentage > li {
	display: inline-block;
	width: 110px;
	text-align: center;
}
ul.list-inline-percentage > li > dl {
	margin-top: 0 !important;
}
ul.list-inline-percentage > li > dl > dt {
	display: block !important;
	font-size: 15px;
	margin-bottom: 10px;
}
ul.list-inline-percentage > li > dl > dd {
	display: block;
	font-size: 60px;
	line-height: 1.1em;
	text-align: center;
}
ul.list-inline-percentage > li > dl:after {
	display: block;
	content: "％";
}
#mfbook_06 .wrapper-mfbook-contents06 > h3 {
	font-size: 20px;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 20px;
}
dl.list-resultvalue-mfbook-06 {
}
dl.list-resultvalue-mfbook-06 > dt {
	float: left;
	width: 599px;
}
dl.list-resultvalue-mfbook-06 > dd {
	float: right;
	width: 350px;
}
/*--------------------------------------------

	私たちの想い＋リンク

---------------------------------------------*/
/* 私たちの想い */
.wrapper-mfbook-contents07-01 {
	position: relative;
	height: 388px;
	margin-bottom: 20px;
	margin-top: 0px;
	background: url("/img/mfbook/bg_mfbook_07_01.png") no-repeat center top;
	background-size: cover;
}
.mfbook-contents07-01-inner {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 960px;
	transform: translate(-50%,-50%);
}
.mfbook-contents07-01-inner > h2 {
	font-size: 30px;
	text-align: center;
	margin-bottom: 50px;
	text-shadow: 1px 1px 20px #ffffff;
}
.mfbook-contents07-01-inner > p {
	line-height: 3.5em;
	text-align: center;
	text-shadow: 1px 1px 15px #ffffff;
}


/* リンク */
.wrapper-mfbook-contents07-02 {
	height: 310px;
	background: url("/img/mfbook/bg_mfbook_07_02.png") repeat-x left center;
}
/* リンクエリア */
.wrapper-mfbook-contents07-02 ul {
	position: relative;
	height: 100%;
}
.wrapper-mfbook-contents07-02 ul > li {
	position: absolute;
	animation: monkeymove01 1.4s ease-in-out infinite alternate;
	width: 80px;
	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
.wrapper-mfbook-contents07-02 ul > li:hover {
	width: 120px;
	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
.wrapper-mfbook-contents07-02 ul > li img {
	/* animation: monkeymove01inner 1.4s ease-in-out infinite alternate; */
}
.wrapper-mfbook-contents07-02 ul > li:first-child {
	left: 5%;
	top: 3%;
}
.wrapper-mfbook-contents07-02 ul > li:nth-child(2) {
	left: 50%;
	top: 6%;
}
.wrapper-mfbook-contents07-02 ul > li:nth-child(3) {
	right: 4%;
	top: 23%;
}
.wrapper-mfbook-contents07-02 ul > li:nth-child(4) {
	left: 15%;
	top: 35%;
}
.wrapper-mfbook-contents07-02 ul > li:nth-child(5) {
	right: 25%;
	top: 50%;
}
.wrapper-mfbook-contents07-02 ul > li:nth-child(6) {
	bottom: 10%;
	left: 26%;
}
.wrapper-mfbook-contents07-02 ul > li:nth-child(7) {
	left: 30%;
	top: 25%;
}
.wrapper-mfbook-contents07-02 ul > li:hover,
.wrapper-mfbook-contents07-02 ul > li:hover img {
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	animation-play-state: paused;
}
.wrapper-mfbook-contents07-02 ul > li a {
	display: block;
}
.wrapper-mfbook-contents07-02 ul > li:hover img {

}
/* 左右移動 */
@keyframes monkeymove01 {
	from{
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-o-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5);
	}
	to{
		-webkit-transform: scale(1.0);
		-moz-transform: scale(1.0);
		-o-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}
@keyframes monkeymove01inner {
	from{
		-ms-transform:translateY(50%);
		-webkit-transform:translateY(50%);
		transform:translateY(50%);
	}
	to{
		-ms-transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
		transform:translateY(-50%);
	}
}
/*--------------------------------------------

	CONTACT

---------------------------------------------*/
#mfbook_08 {
	margin-top: -86px;
}
#mfbook_08 ul.list-constrain-to-parent {
	width: 954px;
	height: 366px;
	margin: 0 auto;
	color: #ffffff;
	background: url("/img/mfbook/bg_mfbook_08.png") no-repeat center center;
}
#mfbook_08 ul.list-constrain-to-parent > li {
	position: relative !important;
	float: left;
	width: 157px;
	height: 120px;
	line-height: 120px;
	font-size: 16px;
	background: #990009;
	border-radius: 6px;
	border: 1px solid #ffffff;
	text-align: center;
	left: auto !important;
	top: auto !important;
	transition: all 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
#mfbook_08 ul.list-constrain-to-parent > li > a {
	display: block;
	width: 100%;
	height: 100%;
	background: #c6000b;
	color: #ffffff;
	font-size: 16px;
}
#mfbook_08 ul.list-constrain-to-parent > li.title {
	width: 316px;
	background: #b2000a;
	font-size: 34px;
}
#mfbook_08 ul.list-constrain-to-parent > li.line-02 {
	line-height: 30px;
}
#mfbook_08 ul.list-constrain-to-parent > li.line-02 > a {
	padding-top: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#mfbook_08 #footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

/* リンク/ */
#mfbook_08 ul.list-constrain-to-parent > li > a > span {
	position: relative;
	display: inline-block;
	padding-left: 10px;
}
#mfbook_08 ul.list-constrain-to-parent > li > a > span:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 2px;
	margin: auto;
	content: "";
	width: 2px;
	height: 16px;
	background: #ffffff;
	transform: rotate(25deg);
}

.clear {
background: rgba(0,0,0,0) !important;
border: none !important;
}

/*
#mfbook_08 table tr th {
	width: 160px;
	height: 120px;
	font-size: 34px;
	background: #b2000a;
	border-radius: 6px;
	border: 1px solid #ffffff;
}
#mfbook_08 table tr td {
	width: 160px;
	height: 120px;
	font-size: 16px;
	background: #990009;
	border-radius: 6px;
	border: 1px solid #ffffff;
}
*/

/*--------------------------------------------

	mfstyle用css ココカラ

---------------------------------------------*/
/* 個別パーツ */
.pd-tb45 {
	padding: 45px 0;
}
/*--------------------------------------------
	companybox-visual
---------------------------------------------*/
.companybox-visual {
	width: 100%;
	height: 720px;
	position: relative;
	background-image: url("/img/mfstyle/mv.png");
	background-size: cover;
	padding-top: 56.25%;
	box-sizing: border-box;
}
.companybox-visual .textwrap-main {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	color: #ffffff;
}
.companybox-visual .textwrap-main h1 {
	font-size: 70px;
	margin-bottom: 40px;
	text-align: center;
}
.companybox-visual .textwrap-main h1 span::before {
	content: "/";
	color: #b31829;
	margin: 0 10px 0 20px;
}
.companybox-visual .textwrap-main h1 span {
	font-size: 20px;
	vertical-align: 33px;
}
.companybox-visual .textwrap-main p {
	font-size: 14px;
	text-align: center;
}
/*--------------------------------------------
	companybox
---------------------------------------------*/
.section {
	width: 100%;
	height: 720px;
	background-image: url("/img/mfstyle/bk.png");
	background-size: cover;
	padding-top: 56.25%;
	box-sizing: border-box;
	position: relative;
}
.wrap-contentbox {
	position: absolute;
	width: 1280px;
	height: 720px;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}
/*--------------------------------------------
	左上がり
---------------------------------------------*/
.section.leftup .pannel-left {
	position: absolute;
	top: 10%;
	left: 0%;
}
.section.leftup .pannel-left img {
	width: 660px;
	height: 410px;
}
.section.leftup .pannel-right {
	position: absolute;
	top: 35%;
	left: 50%;
}
.section.leftup .pannel-right > dl {
	width: 660px;
	height: 410px;
	color: #ffffff;
}
.section.leftup .pannel-right > dl > dt {
	height: 100px;
	background-color: rgba(35,24,21,0.9);
	padding: 35px 150px 35px 90px;
}
.section.leftup .pannel-right > dl > dd {
	height: 180px;
	background-color: rgba(198,0,11,0.9);
	padding: 35px 150px 35px 90px;
}
.section.leftup .pannel-right > dl > dd h2 {
	font-size: 24px;
	line-height: 1.2em;
	margin-bottom: 15px;
}
.section.leftup .pannel-right > dl > dd p {
	font-size: 12px;
}
.section.leftup .pannel-right > dl > dd ul {
	margin-top: 20px;
}
.section.leftup .pannel-right > dl > dd ul li {
	font-size: 12px;
	margin-right: 20px;
	display: inline-block;
}
.section.leftup .pannel-right > dl > dd ul li::before {
	content: "/";
	margin-right: 5px;
}
/*--------------------------------------------
	右上がり
---------------------------------------------*/
.section.rightup {
	width: 100%;
	height: 720px;
	background-image: url("/img/mfstyle/bk.png");
	background-size: cover;
	padding-top: 56.25%;
	box-sizing: border-box;
	position: relative;
}
.section.rightup .pannel-left {
	position: absolute;
	top: 35%;
	left: 0%;
	z-index: 10;
}
.section.rightup .pannel-left > dl {
	width: 660px;
	height: 410px;
	color: #ffffff;
}
.section.rightup .pannel-left > dl > dt {
	height: 100px;
	background-color: rgba(35,24,21,0.9);
	padding: 35px 80px 35px 160px;
}
.section.rightup .pannel-left > dl > dd {
	height: 180px;
	background-color: rgba(198,0,11,0.9);
	padding: 35px 80px 35px 160px;
}
.section.rightup .pannel-left > dl > dd h2 {
	font-size: 24px;
	line-height: 1.2em;
	margin-bottom: 15px;
}
.section.rightup .pannel-left > dl > dd p {
	font-size: 12px;
}
.section.rightup .pannel-left > dl > dd ul {
	margin-top: 20px;
}
.section.rightup .pannel-left > dl > dd ul li {
	font-size: 12px;
	margin-right: 20px;
	display: inline-block;
}
.section.rightup .pannel-left > dl > dd ul li::before {
	content: "/";
	margin-right: 5px;
}
.section.rightup .pannel-right {
	position: absolute;
	top: 10%;
	left: 50%;
}
.section.rightup .pannel-right img {
	width: 660px;
	height: 410px;
}
/*--------------------------------------------
	コンテンツ毎の説明
---------------------------------------------*/
ul.icon-list li:first-child {
	margin-left: 0;
}
ul.icon-list li {
	display: inline-block;
	margin-left: 30px;
	text-align: center;
	vertical-align: middle;
}
ul.icon-list li > dl > dd {
	margin-top: 10px;
}
/*--------------------------------------------
	パネルばら巻き
---------------------------------------------*/
/* section1 右上 */
.sec01 ul.top-right {
	position: absolute;
	top: 40px;
	right: 40px;
}
.pannel-direction {
	color: #000000;
	background-color: #ffffff;
	position: absolute;
	width: 210px;
	height: 120px;
	top: 25px;
	right: 310px;
}
.pannel-direction p {
	line-height: 120px;
	text-align: center;
	font-weight: bold;
}
.pannel-design {
	color: #ffffff;
	background-color: #000000;
	position: absolute;
	width: 125px;
	height: 110px;
	top: 0px;
	right: 150px;
}
.pannel-design p {
	line-height: 110px;
	text-align: center;
	font-weight: bold;
}
.pannel-si {
	color: #000000;
	background-color: #ffffff;
	position: absolute;
	width: 90px;
	height: 50px;
	top: 10px;
	right: 0px;
}
.pannel-si p {
	line-height: 50px;
	text-align: center;
	font-weight: bold;
}
.pannel-html {
	color: #ffffff;
	background-color: #c6000b;
	position: absolute;
	width: 165px;
	height: 85px;
	top: 75px;
	right: 20px;
}
.pannel-html p {
	line-height: 85px;
	text-align: center;
	font-weight: bold;
}
/* section1 左下 */
.sec01 ul.bottom-left {
	position: absolute;
	bottom: 40px;
	left: 65px;
}
.pannel-cms {
	color: #ffffff;
	background-color: #c6000b;
	position: absolute;
	width: 130px;
	height: 150px;
	bottom: 0px;
	left: 0px;
}
.pannel-cms p {
	line-height: 150px;
	text-align: center;
	font-weight: bold;
}
.pannel-java {
	color: #ffffff;
	background-color: #000000;
	position: absolute;
	width: 200px;
	height: 85px;
	bottom: 85px;
	left: 165px;
}
.pannel-java p {
	line-height: 85px;
	text-align: center;
	font-weight: bold;
}
.pannel-server {
	color: #000000;
	background-color: #ffffff;
	position: absolute;
	width: 230px;
	height: 90px;
	bottom: 20px;
	left: 315px;
}
.pannel-server p {
	line-height: 90px;
	text-align: center;
	font-weight: bold;
}
/* section2 左上 */
.sec02 ul.top-left {
	position: absolute;
	top: 40px;
	left: 90px;
}
.pannel-uiux {
	color: #ffffff;
	background-color: #000000;
	position: absolute;
	width: 150px;
	height: 120px;
	top: 30px;
	left: 10px;
}
.pannel-uiux p {
	line-height: 120px;
	text-align: center;
	font-weight: bold;
}
.pannel-consul {
	color: #000000;
	background-color: #ffffff;
	position: absolute;
	width: 165px;
	height: 80px;
	top: 0px;
	left: 215px;
	z-index: 10;
}
.pannel-consul p {
	line-height: 80px;
	text-align: center;
	font-weight: bold;
}
.pannel-es {
	color: #ffffff;
	background-color: #c6000b;
	position: absolute;
	width: 70px;
	height: 40px;
	top: 130px;
	left: 190px;
}
.pannel-es p {
	line-height: 40px;
	text-align: center;
	font-weight: bold;
}
.pannel-corpsales {
	color: #ffffff;
	background-color: #c6000b;
	position: absolute;
	width: 160px;
	height: 150px;
	top: 40px;
	left: 300px;
}
.pannel-corpsales p {
	line-height: 150px;
	text-align: center;
	font-weight: bold;
}
/* section2 右下 */
.sec02 ul.bottom-right {
	position: absolute;
	bottom: 40px;
	right: 25px;
}
.pannel-mk {
	color: #000000;
	background-color: #ffffff;
	position: absolute;
	width: 60px;
	height: 70px;
	bottom: 100px;
	right: 475px;
}
.pannel-mk p {
	line-height: 70px;
	text-align: center;
	font-weight: bold;
}
.pannel-usertest {
	color: #ffffff;
	background-color: #000000;
	position: absolute;
	width: 190px;
	height: 70px;
	bottom: 0px;
	right: 375px;
	z-index: 10;
}
.pannel-usertest p {
	line-height: 70px;
	text-align: center;
	font-weight: bold;
}
.pannel-report {
	color: #000000;
	background-color: #ffffff;
	position: absolute;
	width: 170px;
	height: 120px;
	bottom: 30px;
	right: 225px;
}
.pannel-report p {
	line-height: 120px;
	text-align: center;
	font-weight: bold;
}
.pannel-accesslog {
	color: #ffffff;
	background-color: #c6000b;
	position: absolute;
	width: 205px;
	height: 105px;
	bottom: 10px;
	right: 0px;
}
.pannel-accesslog p {
	line-height: 105px;
	text-align: center;
	font-weight: bold;
}
/* section3 右上 */
.sec03 ul.top-right {
	position: absolute;
	top: 40px;
	right: 30px;
}
.pannel-operation {
	color: #ffffff;
	background-color: #c6000b;
	position: absolute;
	width: 210px;
	height: 110px;
	top: 55px;
	right: 340px;
	z-index: 10;
}
.pannel-operation p {
	line-height: 110px;
	text-align: center;
	font-weight: bold;
}
.pannel-seo {
	color: #ffffff;
	background-color: #000000;
	position: absolute;
	width: 190px;
	height: 80px;
	top: 0px;
	right: 190px;
}
.pannel-seo p {
	line-height: 80px;
	text-align: center;
	font-weight: bold;
}
.pannel-ms {
	color: #ffffff;
	background-color: #000000;
	position: absolute;
	width: 60px;
	height: 80px;
	top: 115px;
	right: 215px;
}
.pannel-ms p {
	line-height: 80px;
	text-align: center;
	font-weight: bold;
}
.pannel-brand {
	color: #000000;
	background-color: #ffffff;
	position: absolute;
	width: 165px;
	height: 145px;
	top: 30px;
	right: 0px;
}
.pannel-brand p {
	line-height: 145px;
	text-align: center;
	font-weight: bold;
}
/* section3 左下 */
.sec03 ul.bottom-left {
	position: absolute;
	bottom: 40px;
	left: 60px;
}
.pannel-sns {
	color: #ffffff;
	background-color: #c6000b;
	position: absolute;
	width: 210px;
	height: 130px;
	bottom: 0px;
	left: 0px;
}
.pannel-sns p {
	line-height: 130px;
	text-align: center;
	font-weight: bold;
}
.pannel-dateanalysis {
	color: #000000;
	background-color: #ffffff;
	position: absolute;
	width: 220px;
	height: 90px;
	bottom: 80px;
	left: 170px;
}
.pannel-dateanalysis p {
	line-height: 90px;
	text-align: center;
	font-weight: bold;
}
.pannel-system {
	color: #ffffff;
	background-color: #000000;
	position: absolute;
	width: 120px;
	height: 140px;
	bottom: 10px;
	left: 420px;
}
.pannel-system p {
	line-height: 140px;
	text-align: center;
	font-weight: bold;
}
/*--------------------------------------------
	companybox-rightup
---------------------------------------------*/
.companybox-date {
	width: 960px;
	margin: 40px auto 50px auto;
	color: #222222;
	box-sizing: border-box;
}
/* border有り ul */
.companybox-date > ul {
	margin-bottom: 20px;
	border-bottom: 1px solid #d8d8d8;
}
.companybox-date > ul > li {
	width: 215px;
	display: inline-block;
	border-right: 1px solid #d8d8d8;
	text-align: center;
	padding: 0 50px;
	margin-bottom: 20px;
	vertical-align: middle;
}
.companybox-date > ul > li:last-child {
	border-right: none;
}
.companybox-date > ul > li > dl {
	height: 200px;
	padding: 20px 0;
}
.companybox-date > ul > li > dl > dt {
	height: 155px;
}
.companybox-date > ul > li > dl > dd {
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
	font-size: 14px;
}
.companybox-date > ul > li > dl > dd > span {
	padding: 0 5px;
	font-size: 40px;
	font-weight: bold;
}
.text-right {
	text-align: right;
}
/* border無し ul */
.companybox-date ul.bottom-line {
	border-bottom: none;
	margin-bottom: 0;
}
.companybox-date ul.bottom-line > li > dl > dt {
	height: auto;
	text-align: left;
	font-size: 14px;
}
/*--------------------------------------------
	companybox-thought
---------------------------------------------*/
.companybox-thought {
	width: 100%;
	height: 720px;
	background-image: url("/img/mfstyle/bk2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 120px 0;
	color: #ffffff;
	z-index: 9;
}
.company-content {
	width: 960px;
	border: 5px solid #ffffff;
	box-sizing: border-box;
	padding: 50px 220px;
	text-align: center;
	margin: 0 auto;
}
.company-content h2 {
	font-size: 26px;
	margin-bottom: 20px;
	font-weight: normal;
}
.company-content p {
	font-size: 14px;
	line-height: 28px;
}
.companybox-thought ul {
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 100%;
	margin-top: 50px;
}
.companybox-thought ul li {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	height: 265px;
	padding-top: 21.3%;
	box-sizing: border-box;
}
.companybox-thought ul li.works {
	background-image: url("/img/mfstyle/bk_works.png");
	background-size: cover;
}
.companybox-thought ul li.service {
	background-image: url("/img/mfstyle/bk_service.png");
	background-size: cover;
}
.companybox-thought ul li.profile {
	background-image: url("/img/mfstyle/bk_profile.png");
	background-size: cover;
}
.companybox-thought ul li dl {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit- transform: translateY(-50%) translateX(-50%);
}
.companybox-thought ul li dl dt {
	font-size: 38px;
	font-weight: bold;
	margin-bottom: 20px;
}
.companybox-thought ul li dl dd a span {
	font-size: 14px;
	font-weight: normal;
}
/*--------------------------------------------
	companybox-contact
---------------------------------------------*/
.companybox-contact {
	background-color: #f3f3f3;
	padding: 60px 0;
}
.companybox-contact h2 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
}

/*--------------------------------------------
	ローカルナビゲーション
---------------------------------------------*/
/* 2カラム配置 */
ul.list-linknavigation-2clm {
	margin: 0 auto;
	width: 640px;
}
ul.list-linknavigation-2clm > li {
	background-color: #ffffff;
	float: left;
	height: 36px;
	width: 310px;
	border-right: 10px solid #f3f3f3;
	border-bottom: 10px solid #f3f3f3;
	line-height: 36px;
}
ul.list-linknavigation-2clm > li.active {
	text-align: center;
	background-color: #c6000b;
	padding-left: 0px;
}
ul.list-linknavigation-2clm > li > a {
	display: block;
	padding-left: 30px;
	color: #222222;
	position: relative;
}
ul.list-linknavigation-2clm > li.active > a {
	color: #fff;
	display: block;
	padding: 0px;
}
ul.list-linknavigation-2clm > li > a:before {
	font-size: 16px;
	position: absolute;
	top: 0;
	bottom: 1px;
	left: 20px;
	margin: auto;
	content: "";
	width: 2px;
	height: 14px;
	background: #c6000b;
	transform: rotate(25deg);
}
ul.list-linknavigation-2clm > li.active > a:before {
	content: "";
}
/* マウスオーバー効果 */
ul.list-linknavigation-2clm > li:hover > a {
	padding-left: 40px;
	transition: padding 0.2s;
}
/*--------------------------------------------

	mfstyle用css ココマデ

---------------------------------------------*/