@charset "utf-8";
/**********************************************

	mfbook_style_forPC.css

**********************************************/
body {
	padding-top: 50px !important;
	overflow-x:hidden !important;
}
.scrollcontents {
	overflow: hidden;
	position: relative;
}
.fp-scroller {
	overflow:hidden;
}
#fp-nav {
	margin-top: 0 !important;
	top: 13px;
	right: 47px !important;
	z-index: 160;
}
#fp-nav ul li, .fp-slidesNav ul li {
	display: inline-block;
	margin: 0px;
}
/* 次のコンテンツへリンクボタン */
.switch-nextcontents {
	display: block;
	width: 70px;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: opacity 2.5s linear;
	-moz-transition: opacity 2.5s linear;
	-o-transition: opacity 2.5s linear;
	-ms-transition: opacity 2.5s linear;
	transition: opacity 2.5s linear;
	cursor: pointer;
}
.fp-completely .switch-nextcontents {
	opacity: 1.0;
	-webkit-transition: opacity 2.5s linear;
	-moz-transition: opacity 2.5s linear;
	-o-transition: opacity 2.5s linear;
	-ms-transition: opacity 2.5s linear;
	transition: opacity 2.5s linear;
}
/*--------------------------------------------

	私たちの取り組み

---------------------------------------------*/
#mfbook_01.fp-completely .switch-nextcontents {
	opacity: 0;
}
/* 背景指定 */
#mfbook_01 {
	position: relative;
	background: url("/img/mfbook/bg_title_mfbook_01.png") no-repeat center top;
	background-size: cover;
}
/* ページタイトルロゴ＋文言配置 */
.wrapper-mfbook-pagetitle {
	position: absolute;
	width: 100%;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
/* ロゴ配置 */
.wrapper-mfbook-pagetitle > h1 {
	font-size: 16px;
	margin-bottom: 30px;
	color: #c6000b;
}
.wrapper-mfbook-pagetitle > h1 > img {
	display: block;
	width: 44px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.wrapper-mfbook-pagetitle > h2 {
	font-size: 20px;
	margin-bottom: 40px;
}
.wrapper-mfbook-pagetitle > p {
	font-size: 12px;
	line-height: 1.85em;
	padding: 10px;
}
/* 初期状態　台形描画 */
.octagon-white-mfbook-01 {
	display: none;
}

/*--------------------------------------------

	ワンストップで課題を解決 お客様に寄り添うプロジェクトを目指しています

---------------------------------------------*/
.wrapper-mfbook-contents02 {
	position: relative;
	height: 100%;
}
/* 背景指定 */
#mfbook_02 {
	background: url("/img/mfbook/bg_mfbook_02_sp.png") no-repeat center bottom;
	background-size: cover;
}
/* 擬似パズル */
ul.list-openarea-mfbook02 {
	display: none;
}
/* 下付けコンテンツタイトル */
#mfbook_02 .wrapper-mfbook-contentstitle {
	/* background: rgba(198,0,11,0.6); */
}
#mfbook_02 .wrapper-mfbook-contentstitle > .wrapper-titlemiddle-forsp {
	bottom: 5%;
	top: auto;
	transform: none;
	background: rgba(0,0,0,0.4);
}
.wrapper-mfbook-contentstitle {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #ffffff;
	text-align: center;
}
.wrapper-mfbook-contentstitle h2 {
	font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 30px;
}
.wrapper-mfbook-contentstitle p {
	font-size: 12px;
	line-height: 1.5em;
}
/* SPレイアウト用 */
.wrapper-titlemiddle-forsp {
	position: absolute;
	width: 100%;
	top: 50%;
	padding: 10px;
	transform: translateY(-50%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*--------------------------------------------

	解決するための「何か」をお客様と一緒に考えていきます

---------------------------------------------*/
#mfbook_03 {
	background: url("/img/mfbook/bg_mfbook_03_sp.png") no-repeat center center #b2000a;
	background-size: cover;
}
.wrapper-mfbook-contents03 {
	position: relative;
	height: 100%;
	background-image:
		url("/img/mfbook/bg_mfbook_03_inner_m_sp.png"),
		url("/img/mfbook/bg_mfbook_03_inner_f_sp.png");
	background-repeat:
		no-repeat,no-repeat;
	background-size:
		200%,200%;
	background-position:
		left top 50px,
		right bottom 50px;
}
#mfbook_03.fp-completely .wrapper-mfbook-contents03 {
	background-position:
		right top 50px,
		left bottom 50px;
	animation: mfVisualizeSlideAnimation 3s ease-in-out 1 ;
}
@keyframes mfVisualizeSlideAnimation {
	from{
		background-position:
			left top 50px,
			right bottom 50px;
	}
	to{
		background-position:
			right top 50px,
			left bottom 50px;
	}
}
/* m/fリスト包括 */
.wrapper-visualizelists {
	display: none;
}
#mfbook_03 .wrapper-mfbook-contentstitle {

}
#mfbook_03 .wrapper-mfbook-contentstitle > .wrapper-titlemiddle-forsp {
	background: rgba(0,0,0,0.4);
}


/*--------------------------------------------

	納品して終わりじゃない 「これから」を一緒に拡大・創造していきます

---------------------------------------------*/
/* 背景指定 */
#mfbook_04 {
	position: relative;
	background: url("/img/mfbook/bg_mfbook_04_sp.png") no-repeat 5% center;
	background-size: cover;
}
#mfbook_04.fp-completely {
	background-position: 75% center;
	animation: cardSlideAnimation 3s linear 1;
}
@keyframes cardSlideAnimation {
	from{
		background-position: 5% center;
	}
	to{
		background-position: 75% center;
	}
}
/* タイトル枠背景設定 */
#mfbook_04 .wrapper-mfbook-contentstitle {
	background: rgba(198,0,11,0.6);
}
#mfbook_04 .wrapper-mfbook-contentstitle > .wrapper-titlemiddle-forsp {
	background: rgba(0,0,0,0.4);
}
#mfbook_04 .fp-tableCell {
	display: block;
}
/* コンテンツ枠包括 */
.wrapper-mfbook-contents04 {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* カードリスト包括　平行四辺形 */
.layout-futurecardslist {
	display: none;
}

/*--------------------------------------------

	情報技術企業として顧客満足度を実現します

---------------------------------------------*/
#mfbook_05 .wrapper-mfbook-pagetitle {
	position: relative;
	top: auto;
	left: 0 !important;
	transform: none;
	padding-top: 30px;
}
#mfbook_05 .wrapper-mfbook-pagetitle > h1 {
	margin-bottom: 10px;
}
#mfbook_05 .wrapper-mfbook-pagetitle > p > span {
	position: relative;
	font-size: 18px;
	font-weight: bold;
	padding: 0 5px;
}
#mfbook_05 .wrapper-mfbook-pagetitle > p > span > img {
	position: absolute;
	left: 0;
	top: -13px;
}
#mfbook_05 .wrapper-mfbook-pagetitle > img {
	display: block;
	width: 210px;
	margin: 30px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/*--------------------------------------------

	MF DATA

---------------------------------------------*/
/* 背景指定 */
#mfbook_06 {
	position: relative;
	background: url("/img/mfbook/bg_mfbook_06.png") no-repeat center center;
	background-size: cover;
	color: #ffffff;
	overflow-y: scroll;
}
.wrapper-mfbook-contents06 {
	/*
	height: 100%;
	overflow-y: scroll;
	*/
	padding-top: 30px;
}
/* コンテンツタイトル */
#mfbook_06 h2 {
	font-size: 20px;
	text-align: center;
}
#mfbook_06 h2 > p {
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	margin: 10px auto;
	padding: 0 10px;
}
/* ピクトグラム配置テーブル */
#mfbook_06 table {
	width: 100%;
	table-layout: fixed;
}
#mfbook_06 table tr td {
	padding: 10px;
	padding-top: 0;
	text-align: center;
	border-bottom: 1px solid #ffffff;
	/*
	padding: 20px 0;
	
	vertical-align: bottom;
	*/
}
/* ピクトグラム内容記載枠 */
#mfbook_06 table td > div {
	/* border-right: 1px solid #ffffff; */
}
#mfbook_06 table td > div > img {
	width: 50%;
}
#mfbook_06 table td:nth-child(3) > div {
	border-right: none;
}
#mfbook_06 table td dl {
	font-size: 14px;
	margin-top: 0;
}
#mfbook_06 table td dl > dt {
	display: inline-block;
	text-align: center;
}
#mfbook_06 table td dl > dd {
	display: inline-block;
	text-align: left;
}
#mfbook_06 table td dl > dd > span {
	margin: 0 5px 0 -5px;
	font-size: 22px;
}
.mark-attention:after {
	content: "※";
	font-size: 12px;
	padding-left: 5px;
}
/* テーブル2段目 */
/* 項目タイトル */
#mfbook_06 table td h3 {
	font-size: 16px;
	margin-bottom: 10px;
}
/* パーセンテージ表記リスト */
ul.list-inline-percentage {
	margin-bottom: 20px;
}
ul.list-inline-percentage > li {
	display: inline-block;
	text-align: center;
}
ul.list-inline-percentage > li > dl {
	margin-top: 0 !important;
}
ul.list-inline-percentage > li > dl > dt {
	display: block !important;
	font-size: 12px;
}
ul.list-inline-percentage > li > dl > dd {
	display: block;
	font-size: 30px;
	line-height: 1.1em;
	text-align: center;
}
ul.list-inline-percentage > li > dl:after {
	content: "％";
}
#mfbook_06 .wrapper-mfbook-contents06 > h3 {
	font-size: 16px;
	text-align: center;
	padding: 20px 0;
}
dl.list-resultvalue-mfbook-06 {

}
dl.list-resultvalue-mfbook-06 > dt {
	padding: 10px 20px;
	padding-top: 0;
}
dl.list-resultvalue-mfbook-06 > dd {
	padding: 10px;
	padding-top: 0;
	text-align: center;
}
dl.list-resultvalue-mfbook-06 > dd > ul.list-inline-percentage {
	margin-bottom: 0;
}
dl.list-resultvalue-mfbook-06 > dd > ul.list-inline-percentage > li {
	margin-left: 10px;
	width: 70px;
}
dl.list-resultvalue-mfbook-06 > dd > ul.list-inline-percentage > li:first-child {
	margin-left: 0;
}
/*--------------------------------------------

	私たちの想い＋リンク

---------------------------------------------*/
/* 私たちの想い */
.wrapper-mfbook-contents07-01 {
	position: relative;
	height: 200px;
	padding-top: 50px;
	margin: 30px 0;
	background: url("/img/mfbook/bg_mfbook_07_01.png") no-repeat center top;
	background-size: cover;
}
.mfbook-contents07-01-inner {
	/*
	position: absolute;
	left: 50%;
	top: 50%;
	width: 960px;
	transform: translate(-50%,-50%);
	*/
}
.mfbook-contents07-01-inner > h2 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 40px;
	text-shadow: 1px 1px 10px #ffffff;
}
.mfbook-contents07-01-inner > p {
	font-size: 12px;
	line-height: 1.85em;
	text-align: center;
	text-shadow: 1px 1px 10px #ffffff;
}
/* リンク */
.wrapper-mfbook-contents07-02 {
	height: 310px;
	background: url("/img/mfbook/bg_mfbook_07_02.png") repeat-x left center;
}
/* リンクエリア */
#mfbook_07 ul.list-linknavigation-4clm {

}
#mfbook_07 ul.list-linknavigation-4clm > li {
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/*--------------------------------------------

	CONTACT

---------------------------------------------*/
#mfbook_08 {
}
#mfbook_08 > .fp-tableCell {
	vertical-align: top;
}
.wrapper-mfbookcontact-forsp {
	padding: 10px;
	padding-top: 0;
	margin-bottom: 50px;
}
table.table-mfbookcontact-forsp {
	width: 100%;
	color: #ffffff;
}
table.table-mfbookcontact-forsp tr th {
	background: #b2000a;
	padding: 10px;
	text-align: center;
	font-size: 20px;
}
table.table-mfbookcontact-forsp tr td {
	width: 50%;
	height: 50px;
	padding: 10px;
	background: #990009;
	border-radius: 6px;
	border: 1px solid #ffffff;
}
table.table-mfbookcontact-forsp tr td a {
	display: block;
	width: 100%;
	height: 100%;
	color: #ffffff;
	font-size: 14px;
}

#mfbook_08 ul.list-constrain-to-parent {
	width: 960px;
	height: 370px;
	margin: 0 auto;
	color: #ffffff;
	background: url("/img/mfbook/bg_mfbook_08.png") no-repeat center center;
}
#mfbook_08 ul.list-constrain-to-parent > li {
	position: relative !important;
	float: left;
	width: 157px;
	height: 120px;
	line-height: 120px;
	font-size: 16px;
	background: #990009;
	border-radius: 6px;
	border: 1px solid #ffffff;
	text-align: center;
	left: auto !important;
	top: auto !important;
	transition: all 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
#mfbook_08 ul.list-constrain-to-parent > li > a {
	display: block;
	width: 100%;
	height: 100%;
	background: #c6000b;
	color: #ffffff;
	font-size: 16px;
}
#mfbook_08 ul.list-constrain-to-parent > li.title {
	width: 316px;
	background: #b2000a;
	font-size: 34px;
}
#mfbook_08 ul.list-constrain-to-parent > li.line-02 {
	line-height: 30px;
}
#mfbook_08 ul.list-constrain-to-parent > li.line-02 > a {
	padding-top: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#mfbook_08 #footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

/* リンク/ */
#mfbook_08 .wrapper-mfbookcontact-forsp span {
	position: relative;
	display: inline-block;
	padding-left: 10px;
}
#mfbook_08 .wrapper-mfbookcontact-forsp span:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 2px;
	margin: auto;
	content: "";
	width: 2px;
	height: 14px;
	background: #ffffff;
	transform: rotate(25deg);
}




/*
#mfbook_08 table tr th {
	width: 160px;
	height: 120px;
	font-size: 34px;
	background: #b2000a;
	border-radius: 6px;
	border: 1px solid #ffffff;
}
#mfbook_08 table tr td {
	width: 160px;
	height: 120px;
	font-size: 16px;
	background: #990009;
	border-radius: 6px;
	border: 1px solid #ffffff;
}
*/

/*--------------------------------------------

	mfstyle用css ココカラ

---------------------------------------------*/
/* 個別パーツ */
.pd-tb45 {
	padding: 45px 0;
}
/*--------------------------------------------
	companybox-visual
---------------------------------------------*/
.companybox-visual {
	width: 100%;
	position: relative;
	background-image: url("/img/mfstyle/mv.png");
	background-size: cover;
	padding-top: 56.25%;
	box-sizing: border-box;
}
.companybox-visual .textwrap-main {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	color: #ffffff;
}
.companybox-visual .textwrap-main h1 {
	font-size: 7.25vw;
	margin-bottom: 30px;
	text-align: center;
}
.companybox-visual .textwrap-main h1 span::before {
	content: "/";
	color: #b31829;
	margin: 0 10px 0 15px;
}
.companybox-visual .textwrap-main h1 span {
	font-size: 3vw;
	vertical-align: super;
}
.companybox-visual .textwrap-main p {
	font-size: 12px;
	text-align: center;
	padding: 0 20px;
}
/*--------------------------------------------
	companybox
---------------------------------------------*/
.wrap-contentbox {
	position: relative;
}
.wrap-contentbox.reverse {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
}
/*--------------------------------------------
	companybox-leftup
---------------------------------------------*/
.section.leftup .pannel-left img {
	display: block;
}
.section.leftup .pannel-right > dl {
	color: #ffffff;
}
.section.leftup .pannel-right > dl > dt {
	background-color: rgba(35,24,21,0.9);
	padding: 35px 20px;
	text-align: center;
}
.section.leftup .pannel-right > dl > dd {
	background-color: rgba(198,0,11,0.9);
	padding: 35px 20px;
	text-align: center;
}
.section.leftup .pannel-right > dl > dd h2 {
	font-size: 4.5vw;
	line-height: 1.2em;
	margin-bottom: 15px;
}
.section.leftup .pannel-right > dl > dd p {
	font-size: 12px;
}
.section.leftup .pannel-right > dl > dd ul {
	margin-top: 10px;
}
.section.leftup .pannel-right > dl > dd ul li {
	font-size: 12px;
	margin-right: 20px;
	display: inline-block;
}
.section.leftup .pannel-right > dl > dd ul li::before {
	content: "/";
	margin-right: 5px;
}
/*--------------------------------------------
	companybox-rightup
---------------------------------------------*/
.section.rightup .pannel-left > dl {
	color: #ffffff;
}
.section.rightup .pannel-left > dl > dt {
	background-color: rgba(35,24,21,0.9);
	padding: 35px 20px;
	text-align: center;
}
.section.rightup .pannel-left > dl > dd {
	background-color: rgba(198,0,11,0.9);
	padding: 35px 20px;
	text-align: center;
}
.section.rightup .pannel-left > dl > dd h2 {
	font-size: 4.5vw;
	line-height: 1.2em;
	margin-bottom: 15px;
}
.section.rightup .pannel-left > dl > dd p {
	font-size: 12px;
}
.section.rightup .pannel-left > dl > dd ul {
	margin-top: 10px;
}
.section.rightup .pannel-left > dl > dd ul li {
	font-size: 12px;
	margin-right: 20px;
	display: inline-block;
}
.section.rightup .pannel-left > dl > dd ul li::before {
	content: "/";
	margin-right: 5px;
}
.section.rightup .pannel-right img {
	display: block;
}
/*--------------------------------------------
	コンテンツ毎の説明
---------------------------------------------*/
ul.icon-list {
	margin-left: 20px;
}
ul.icon-list li:first-child {
	margin-left: 0;
}
ul.icon-list li {
	display: inline-block;
	margin-left: 0;
	text-align: center;
	vertical-align: middle;
}
ul.icon-list li.ml-20 {
	margin-left: -20px;
}
ul.icon-list li:nth-child(2) {
	margin: 0 20px;
}
ul.icon-list li img{
}
ul.icon-list li > dl > dd {
	margin-top: 10px;
}
/*--------------------------------------------
	パネルばら巻き
---------------------------------------------*/
/* section1 右上 */
.sec01 ul.top-right {
	display: none;
}
/* section1 左下 */
.sec01 ul.bottom-left {
	display: none;
}
/* section2 左上 */
.sec02 ul.top-left {
	display: none;
}
/* section2 右下 */
.sec02 ul.bottom-right {
	display: none;
}
/* section3 右上 */
.sec03 ul.top-right {
	display: none;
}
/* section3 左下 */
.sec03 ul.bottom-left {
	display: none;
}
/*--------------------------------------------
	companybox-rightup
---------------------------------------------*/
.companybox-date {
	color: #222222;
}
/* border有り ul */
.companybox-date > ul {
	margin-bottom: 20px;
	padding: 0 20px;
}
.companybox-date > ul > li {
	text-align: center;
	padding: 0 50px;
	border-bottom: 1px solid #d8d8d8;
}
.companybox-date > ul > li > dl {
	padding: 25px 0;
}
.companybox-date > ul > li > dl > dd > span {
	padding: 0 5px;
	font-size: 40px;
	font-weight: bold;
}
.text-right {
	text-align: right;
	padding: 0 20px;
	margin-bottom: 20px;
}
/* border無し ul */
.companybox-date ul.bottom-line {
	border-bottom: none;
}
.companybox-date ul.bottom-line > li > dl > dt {
	margin-bottom: 20px;
}
/*--------------------------------------------
	companybox-thought
---------------------------------------------*/
.companybox-thought {
	width: 100%;
	background-image: url("/img/mfstyle/bk2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 60px 0;
	color: #ffffff;
	box-sizing: border-box;
}
.company-content {
	border: 5px solid #ffffff;
	box-sizing: border-box;
	padding: 20px 40px;
	text-align: center;
	margin: 0 20px;
}
.company-content h2 {
	font-size: 26px;
	margin-bottom: 20px;
	font-weight: normal;
}
.company-content p {
	font-size: 14px;
}
.companybox-thought ul {
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 100%;
	margin-top: 50px;
}
.companybox-thought ul li {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	height: 180px;
	padding-top: 21.3%;
	box-sizing: border-box;
}
.companybox-thought ul li.works {
	background-image: url("/img/mfstyle/bk_works.png");
	background-size: cover;
	display: block;
}
.companybox-thought ul li.service {
	background-image: url("/img/mfstyle/bk_service.png");
	background-size: cover;
	display: block;
}
.companybox-thought ul li.profile {
	background-image: url("/img/mfstyle/bk_profile.png");
	background-size: cover;
	display: block;
}
.companybox-thought ul li dl {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit- transform: translateY(-50%) translateX(-50%);
}
.companybox-thought ul li dl dt {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
}
.companybox-thought ul li dl dd a span {
	font-size: 12px;
	font-weight: normal;
}
/*--------------------------------------------
	companybox-contact
---------------------------------------------*/
.companybox-contact {
	background-color: #f3f3f3;
	padding: 60px 0;
}
.companybox-contact h2 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
}
/*--------------------------------------------
	ローカルナビゲーション
---------------------------------------------*/
/* 2カラム配置 */
ul.list-linknavigation-2clm {
	margin: 0 auto;
	font-size: 12px;
}
ul.list-linknavigation-2clm > li {
	background-color: #ffffff;
	float: left;
	height: 50px;
	width: 100%;
	border-bottom: 2px solid #f3f3f3;
	line-height: 50px;
	box-sizing: border-box;
}
ul.list-linknavigation-2clm > li:nth-child(even) {
	border-right: none;
}
ul.list-linknavigation-2clm > li.active {
	text-align: center;
	background-color: #c6000b;
	padding-left: 0px;
}
ul.list-linknavigation-2clm > li > a {
	display: block;
	padding-left: 30px;
	color: #222222;
	position: relative;
}
ul.list-linknavigation-2clm > li.active > a {
	color: #fff;
	display: block;
	padding: 0px;
}
ul.list-linknavigation-2clm > li > a:before {
	font-size: 16px;
	position: absolute;
	top: 0;
	bottom: 1px;
	left: 20px;
	margin: auto;
	content: "";
	width: 2px;
	height: 14px;
	background: #c6000b;
	transform: rotate(25deg);
}
ul.list-linknavigation-2clm > li.active > a:before {
	content: "";
}
/* マウスオーバー効果 */
ul.list-linknavigation-2clm > li:hover > a {
	padding-left: 40px;
	transition: padding 0.2s;
}
/*--------------------------------------------

	mfstyle用css ココマデ

---------------------------------------------*/